*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.swiftpm
*.resolved
*.release_notes

/iOS_Sources/KMM/Generated
/iOS_Sources/Resources/Generated
/iOS_Sources/Resources/Resources/Localization
/iOS_Sources/Resources/Resources/ExportedAssets.xcassets
/iOS_Sources/Resources/Resources/Fonts
/iOS_Sources/Info.plist

/iOS_Sources/Dependencies

/iosApp/fastlane/report.xml